*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F2F3F5;
    font-family: 'Montserrat', sans-serif;
}
.radio-input{
    width: 20px;
    height: 20px;
}
figure img{
    margin: 0 !important;
}
.box2{
    width: 270px !important;
}
.box2{
    transform: none !important;
}
.footer-right{
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}
.sale{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
}
@-webkit-keyframes brk-pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(2)
    }

    to {
        transform: scale(1);
        opacity: 0
    }
}

@keyframes brk-pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(2)
    }

    to {
        transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes brk-pulse-paused {
    0%,to {
        transform: scale(1)
    }

    20% {
        transform: scale(1.2)
    }

    60% {
        transform: scale(.9);
        opacity: 0
    }
}

@keyframes brk-pulse-paused {
    0%,to {
        transform: scale(1)
    }

    20% {
        transform: scale(1.2)
    }

    60% {
        transform: scale(.9);
        opacity: 0
    }
}

button>.after {
  
    opacity: .2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #25d366;
    border-radius: 50%;
    z-index: -1;
}

button>.before {
   
    transform: scale(1.3);
    opacity: .1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #25d366;
    border-radius: 50%;
    z-index: -1;

}
button>.before {
    -webkit-animation:1.5s brk-pulse 1.5s infinite;
    animation:1.5s brk-pulse 1.5s infinite;
}
button>.after {
    -webkit-animation: brk-pulse 1.5s infinite;
    animation: brk-pulse 1.5s infinite;
}
